<div class="bigContainer">
    <div class="container">
<div class="nameBlock">
  <label>Name:</label>
  <input type="text" [(ngModel)]="feedbackForm.name" placeholder="Enter your name" />
</div>
<div class="courseBlock">
<label>Course:</label>
<select [(ngModel)]="feedbackForm.course" name="course">
  <option value="Angular">Angular</option>
  <option value="React">React</option>
  <option value="DSA">DSA</option>
</select>
</div>
<div class="commentBlock">
<label>Comment:</label>
<select [(ngModel)]="feedbackForm.comment" name="comment">
  <option value="Excellent">Excellent</option>
  <option value="Good">Good</option>
  <option value="Bad">Bad</option>
</select>
</div>
<button (click)="submitOrUpdateFeedback()" class="button">{{ feedbackForm.id ? 'Update' : 'Submit'}}</button>
</div>

<div class="feedbackList">
  <ul *ngFor="let feedback of feedbacks">
    <li>{{feedback.name}} {{feedback.course}} {{feedback.comment}}
      <button class="button" (click)="onedit(feedback)">Edit</button>
      <button class="button" (click)="ondelete(feedback.id!)">Delete</button>
    </li>
  </ul>
</div>
</div>
